

#menup {
    padding: 0; /*Eliminamos el padding por defecto*/     
}
       
#menup li {
        display: inline; /*Dispone el la línea en horizontal*/
        border-color: green;
        }

/*BARRA SOCIAL*/

#socbar ul {

    list-style-type: none;
    /*borrar viñetas de la lista*/
    text-align: center;
    /*centrar iconos*/
}

#socbar li {
    display: inline;
    /*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;
    /*Dejar espacios entre iconos*/
}

#socbar a:active,
a:link,
a:visited {
    text-decoration: none;
}
