/* Estilo a los parrafos*/
body {
    padding-left: 11em;
    padding-right:11em;
    font-family: 'Lato', sans-serif;

}
footer,
header {
    padding: 1em;
    color: white;
    background-color: rgb(124, 216, 124);
    clear: left;
    text-align: center;
}
section{
line-height : 50px;
}
.ejercicio {
    background-color: rgb(124, 216, 124);
    ;
    color: white;
    width: 1;
}

.error {
    background-color: #e6231c;
    color: white;
    width: 1;
}

.línea {
    text-decoration-line: underline;
    font-style: italic;
}
/*MENÚ*/
menu li¨{

background-color: rgb(124, 216, 124);

}
ul.menu li{
    display: inline;
    list-style: none;/*Quito el punto decorativo de la línea*/
    margin: 0;
    padding: 0; 
    background-color:rgb(124, 216, 124);
}




/*Barra de navegación*/
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}

ul.navbar li {
    list-style-type: none;
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid green greenyellow
}

ul.navbar a {
    text-decoration: none;
    list-style-type: none;
}

/*LINKS*/

/* a:visited {
    color: purple;
}
a:hover {
    color: white;
    border-color: #3aa5d7;
    border-block-end-color: blueviolet;
    background-color: #4daedb
} */

/*# --- links sin subrayado ---*/

a:active,
a:link,
a:visited {
    text-decoration: none;
    /*CSS EN EL BODY*/

/*IMÁGENES RESPONSIVAS*/
/* https://webdesign.tutsplus.com/es/tutorials/quick-tip-how-to-use-html5-picture-for-responsive-images--cms-21015*/
img {
max-width: 100%; /*La imagen nunca ira más allá del contenedor padre*/
height: auto;
}

menu nav {
    display: inline;
    /*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;
    /*Dejar espacios entre iconos*/
}

/*BARRA SOCIAL*/

#socbar ul {

    list-style: none;
    /*borrar viñetas de la lista*/
    text-align: center;
    /*centrar iconos*/
}

#socbar li {
    display: inline;
    /*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;
    /*Dejar espacios entre iconos*/
}

#socbar a:active,
a:link,
a:visited {
    text-decoration: none;
}