body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;/*Eliminamos el padding por defecto*/
}

h1 {
    color: white
}

.tema {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-areas:
        "header header header header"
        "nav   tema    tema   aside "
        "footer footer footer footer";
}

.tema header {
    background-color: green;
    grid-area: header;
}

.tema nav {
    display: inline;
    /*Se Dispone en línea horizontal*/
    border-color: green;
}

.tema section {
    grid-area: tema;
}

.tema footer {
    background-color: green;
    grid-area: footer;
}


#menup li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: green;
    color: #fff;
}

/*BARRA SOCIAL*/

#socbar ul {
    background-color: #fff;
    list-style-type: none;
    /*borrar viñetas de la lista*/
    text-align: center;
    /*centrar iconos*/
}

#socbar li {
    display: inline;
    /*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;
    /*Dejar espacios entre iconos*/
}

#socbar a:active,
a:link,
a:visited {
    text-decoration: none;
}