
.parrafo{
    background:grey;
    border-top: 30px;
}
.caja{
    border:1px solid black;
    height: 100px;
    width: 200px;
  }

/*Caja con borde*/
.caja2 {
  border: 20px solid #3EC483;
  background: #ffffff;
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 10px
    }