/* Estilo a los parrafos*/
body {
    margin-left: auto;
    margin-right: auto; /*Centrado del texto*/
    font-family: 'Lato', sans-serif;
    max-width: 1080px;
}
h2 {
    font-family:'Times New Roman'
    font-style: italic;
}
}
footer,header {
    padding: 1em;
    color: white;
    background-color:rgb(124, 216, 124);
    clear: left;
    text-align: center;
}
#ref footerLa Mezquita Catedral fue declarado Patrimonio dela Humanidad en 1984, es el resultado de ampliaciones e interpolaciones, las primeras cuando todavía era mezquita musulmana, y las segundas, sobre todo, a partir de la transformación en templo cristiano. Las fuentes árabes cuentan que hasta la llegada de Abd ar-Rahmán I los musulmanes cordobeses rezaban los viernes el día de oración común en la mezquita principal, en la mitad sur de una iglesia visigoda, que era compartida con los cristianos identificada como la Basílica de San Vicente, cuyos restos aparecieron bajo la primera mezquita. Dichos restos, se exponen en unas cuantas vitrinas dentro de la catedral. El príncipe omeya Abd ar-Rahmán I vino a la península de Damasco, en Siria, huyendo de la venganza de dinastía reinante, la Abbsí. Independizó Al-Andalus del poder político de Oriente y tomo la decisión medio religiosa medio política de levantar una mezquita, a partir del 785 al 86, digna de nuevo emirato independiente. Está primera mezquita costaba de una superficie cuadrada de 79 m de lado, dividida en dos partes: el sahn ó y la sala de oración formada por naves de arquerías sobre columnas que se aprovecharon de construcciones romanas y visigodas de la ciudad. Abd ar-Rahmán II y Abd ar-Rahmán III agrandaron el recinto, pero la intervención más suntuosa y aplaudida se hizo en le 962, con al-Hákam II. La última ampliación se realizó en el califato e Hisham II, bajo la supervisión de Almanzor, en el año 987; a causa de la proximidad del río, hubo de edificarse en dirección al este, aumentando también el patio donde se construyó un aljibe. Nuevos hallazgos arqueológicos en 1998 sacaron a la luz la calle perimetral y parte del muro este de la primitiva mezquita, anterior a la ampliación de Almanzor.
En la año 1236, tras la reconquista de Córdoba por Fernando III el Santo, fue consagrada como templo cristiano bajo la advocación de Santa María. En el siglo XIV, reinante Enrique II de Trastámara, se realizaron la Capilla Real y la decoración de la Puerta del Perdón, iniciándose la vez la construcción de capillas privadas adosadas a los muros del recinto. A fines del siglo XV se edifica la primitiva Capilla Mayor gótica y a lo largo del siglo XVI se suceden las reformas a cargo de la familia de arquitectos Hernán Ruiz. La primera de estás se llevó a cabo entre 505 y 1514, afectando especialmente al exterior. De 1514 a 1523 se arreglaron la Sala Capitular y la Librería, construyéndose también varias capilla particulares. La tercera reforma se centró en la Capilla Mayor y Coros, de ella se ocupó Hernán Ruiz el Viejo. Tras un periodo de inactividad, se reemprenden las obras durante el episcopado de don Francisco Reinoso (1597-1601), la bajo la dirección del maestro Juan de Ochoa. El 8 de septiembre de 1607 se inauguraron la nueva Capilla Mayor y el Coro.{
    font-size: xx-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ejercicio {
    background-color: rgb(124, 216, 124);;
    color: white;
    width: 1;
}
.error {
    background-color: #e6231c;
    color: white;
    width: 1;
}
.línea {
    text-decoration-line:underline;
    font-style:italic;
}

/*Barra de navegación*/
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
ul.navbar li {
    list-style-type: none;
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #3aa5d7#3aa5d7;
}
ul.navbar a {
    text-decoration: none;
    list-style-type: none;
}
/*LINKS*/

.wlink {
    color: white;
    text-decoration: none;
    list-style-type: none;

}
a:visited {
    color: purple;
}
a:hover {
    color: white;
    border-color: #3aa5d7;
    border-block-end-color: blueviolet;
    background-color: #4daedb
}

/*# --- links sin subrayado ---*/

a:active,a:link,a:visited {
    text-decoration: none;
    /*CSS EN EL BODY*/
}
article {
    padding: 1em;
    background:border-box */
}
/*TABLA*/
    table.blueTable {
        table-layout:auto;
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin:auto;/*centrar tabla*/
    }
    table.blueTable td,
    table.blueTable th {
        border: 3px solid #AAAAAA;
        padding: 3px 2px;
    }
    table.blueTable tbody td {
        font-size: 13px;
        font-weight: bold;
        color: #3AA5D7;
    }
    table.blueTable tr:nth-child(even) {
        background: #D0E4F5;
    }
    table.blueTable thead {
        background: #3AA5D7;
        background: -moz-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
        background: -webkit-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
        background: linear-gradient(to bottom, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
        border-bottom: 2px solid #444444;
    }
    table.blueTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        border-left: 2px solid #D0E4F5;
    }
    table.blueTable thead th:first-child {
        border-left: none;
    }

    table.blueTable tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #3AA5D7;
        background: -moz-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
        background: -webkit-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
        background: linear-gradient(to bottom, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
        border-top: 2px solid #444444;
    }
    table.blueTable tfoot td {
        font-size: 14px;
    }
    table.blueTable tfoot .links {
        text-align: right;
    }
    table.blueTable tfoot .links a {
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }
    img max-width: 100%;
        height: auto;
    }

    /*Imágenes RESPONSIVAS:http://xurl.es/2463a */

menu nav{
    display: inline;/*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;/*Dejar espacios entre iconos*/
}
/*BARRA SOCIAL*/

#socbar ul{
    list-style-type: none; /*borrar viñetas de la lista*/
    text-align: center; /*centrar iconos*/
 } 
#socbar li{
    display: inline;/*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;/*Dejar espacios entre iconos*/
 }
 