#socbar ul{
    list-style-type: none; /*borrar viñetas de la lista*/
    text-align: center; /*centrar iconos*/
 } 
#socbar li{
    display: inline;/*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;/*Dejar espacios entre iconos*/
 }
 