/* Estilo a los parrafos*/
body {
    margin-left: auto;
    margin-right: auto;
    /*Centrado del texto*/
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    max-width: 1080px;
}

h2 {
    font-family: 'Times New Roman'
        font-style: italic;
}

footer,header {
    padding: 1em;
    color: white;
    background-color: rgb(124, 216, 124);
    clear: left;
    text-align: center;
}

#ref footer {
font-size: xx-small;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ejercicio {
    background-color: rgb(124, 216, 124);
    ;
    color: white;
    width: 1;
}

.error {
    background-color: #e6231c;
    color: white;
    width: 1;
}

.línea {
    text-decoration-line: underline;
    font-style: italic;
}

/*Barra de navegación*/
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}

ul.navbar li {
    list-style-type: none;
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #3aa5d7#3aa5d7;
}

ul.navbar a {
    text-decoration: none;
    list-style-type: none;
}

/*LINKS*/

.wlink {
    color: white;
    text-decoration: none;
    list-style-type: none;

}

a:visited {
    color: purple;
}

a:hover {
    color: white;
    border-color: #3aa5d7;
    border-block-end-color: blueviolet;
    background-color: #4daedb
}

/*# --- links sin subrayado ---*/

a:active,
a:link,
a:visited {
    text-decoration: none;
    /*CSS EN EL BODY*/
}

article {
    padding: 1em;
    background: border-box */
}

/*TABLA*/
table.blueTable {
    table-layout: auto;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    /*centrar tabla*/
}

table.blueTable td,
table.blueTable th {
    border: 3px solid #AAAAAA;
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #3AA5D7;
}

table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}

table.blueTable thead {
    background: #3AA5D7;
    background: -moz-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
    background: -webkit-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
    background: linear-gradient(to bottom, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #3AA5D7;
    background: -moz-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
    background: -webkit-linear-gradient(top, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
    background: linear-gradient(to bottom, #6bbbe1 0%, #4daedb 66%, #3AA5D7 100%);
    border-top: 2px solid #444444;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

img max-width: 100%;
height: auto;
}

/*Imágenes RESPONSIVAS:http://xurl.es/2463a */

menu nav {
    display: inline;
    /*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;
    /*Dejar espacios entre iconos*/
}

/*BARRA SOCIAL*/

#socbar ul {
    list-style-type: none;
    /*borrar viñetas de la lista*/
    text-align: center;
    /*centrar iconos*/
}

#socbar li {
    display: inline;
    /*Disponer elementos uno detrás de otro en línea*/
    margin: 0px 20px 0px 0px;
    /*Dejar espacios entre iconos*/
}